:root {
    --font: "Open Sans", sans-serif;
    --color-white: #ffffff;
    --color-primary: #FE724C;
    --color-primary-hover: #9d3618;
    --color-text: #000000;
    --color-text-secondary: #837f7f;
    --color-separator: #D4D6E0
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
