.layout{
    display: flex;
    min-height: 100vh;
}

/*Sidebar*/

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid var(--color-separator);
}

.user{
    margin-bottom: 45px;
}
.name{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text);
}
.email{
    font-size: 14px;
    color: #9EA1B1;
}
.avatar{
    max-width: 100px;
}
.menu{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.link{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--color-text);
}
.link:hover,
.active{
    color: var(--color-primary-hover);
    transition-duration: 0.2s;
}
.exit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 18px;
    color: var(--color-white);
}

.count:hover{
    background-color: var(--color-primary-hover);
    color: var(--color-separator);
    transition-duration: 0.2s;
}


/*Content*/

.content{
    padding: 40px 60px;
    width: 100%;
}

