.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.header,
.card{
    max-width:700px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.arrow{
    background-color: var(--color-primary);
    border-radius: 20px;
    color: var(--color-white);
    padding: 10px 25px;
    transition-duration: 0.2s;
}
.arrow:hover {
    background-color: var(--color-primary-hover);
}


.description{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.image{
    border-radius: 20px;
}

.hr,
.currency{
    color: var(--color-separator);
}
.composition-wrapper{
    color: var(--color-text-secondary);
}

.rating{
    padding: 3px 8px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 6px 24px 0 rgba(154, 114, 76, 0.20);
    color: var(--color-text);
    font-size: 12px;
}

.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
}

.ingredient-text{
    font-size: 15px;
}

.ingredient-text:first-letter{
    text-transform: uppercase;
}
