img{
    max-width: 500px;
}

.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.text{
    font-size: 31px;
    font-weight: 300;
    line-height: 1.2;
}