.item{
    display: flex;
    gap: 20px;
    margin-bottom: 27px;
    max-width: 500px;
}

.image{
    width: 85px;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 20px;
}

.actions{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-left: auto;
}

.description{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.name{
    font-size: 18px;
    font-weight: 600;
}

.price{
    color: var(--color-primary);
}

.count{
    font-size: 18px;
    font-weight: 600;
}

.decrease-button,
.increase-button,
.remove-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    transition-duration: 0.2s;
}

.increase-button{
    background-color: var(--color-primary);
}

.remove-button{
    border: none;
}

.decrease-button:hover,
.increase-button:hover,
.remove-button:hover{
    border: 1px solid var(--color-primary-hover);
    background-color: var(--color-primary-hover);
 }

